html {

}
form {
    margin: 0 auto;
    width: 350px;
    background-color: darkkhaki;
    color: black;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px ;
    text-align: center;
}
select,input[type="submit"], input[type="button"],input[type="text"], textarea, .button {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 0;
    border-radius: 5px;
    font-family: 'Bree Serif', serif;
    text-align: center;



}
select {
    background-color: cyan;
    /*margin: 10px;*/
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    text-align: center;
}
input[type="submit"] {

}
input[type="button"] {
    background-color: snow;
}

textarea {
    max-height: 300px;

}
.default{
    color: blue;
}
.button {
    height: 30px;
    background-color: #2c2c2c;
}